header{
    background-color: rgb(238, 227, 210);
}
.navbar a{
    padding: 15px 15px;
    text-decoration: none;
}
.navbar{
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    padding-top: 30px;
}

article {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; 
}
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    background-color: rgb(238, 227, 210);
  }
  address{
    float: right;
    padding-top: 10px;
  }
  