header{
  background-color: #666;
  text-align: justify-all;
  font-size: 20px;
  color: white;
 }
 .topnav{
  overflow: hidden;
  background-color: #666;
  padding: 20px;
  margin: auto;
 }

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}

footer{
  background-color: #666;
  text-align: justify-all;
  size: 20px;
  font-size: 20px;
  color: white;
 }
 #p1{
  text-align: right;
 }
 .c1{
    text-align: justify-all;
    padding-right: 200px;
    size-adjust: 20%;
 }